/* todo make custom theme */

/* --- global --- */

* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono", "Material Design Icons", "monospace";
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background: none;
	color: #586e75;
}

/* --- module config --- */

/* - general - */

#custom-powermenu,
#workspaces,
#tray,
#pulseaudio,
#clock,
#battery,
#backlight,
#network,
#bluetooth,
#temperature {
	background: #fdf6e3;
	opacity: 0.8;
	padding: 0px 10px;
	border: 0;
	border-radius: 10px;
	border: 2px solid rgb(89, 89, 89);
}

/* - power menu - */

/* - workspaces - */

#workspaces {
	margin-left: 10px;
}

#workspaces button {
	border-radius: 10px;
}

#workspaces button.urgent {
	color: #dc322f;
}

#workspaces button:hover {
	background: #002B36;
	color: #839496;
}

#workspaces button.active, #workspaces button.focused {
	color: #2aa198;
}

/* - tray - */

#tray {
	margin-right: 10px;
}

/* - temp - */

#temperature {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

/* - audio - */

#pulseaudio:not(.microphone),
#battery,
#network {
	border-radius: 10px 0px 0px 10px;
	border-right: none;
}
#pulseaudio.microphone,
#backlight,
#bluetooth {
	border-radius: 0px 10px 10px 0px;
	margin-right: 10px;
	border-left: none;
}
