[alias]
	amend = commit --amend --no-edit
	continue = -c core.editor=true rebase --continue
	force = push --force-with-lease
	graph = log --graph --exclude refs/stash --all --pretty=tformat:'%C(auto)%h %C(cyan)%ad %C(171)<%an>%C(auto)%d %s' --date=short
	l = log --pretty=tformat:'%C(auto)%h %C(cyan)%ad %C(171)<%an>%C(auto)%d %s' --date=short
	st = status -sb
	patch = add --patch
[core]
	editor = code --wait
	autocrlf = false
	eol = lf
	excludesFile = ~/.gitignore
	pager = less -+X
[commit]
	gpgsign = true
[init]
	defaultBranch = "main"
[interactive]
	singleKey = true
[log]
	date = iso-local
[pager]
	branch = false
	stash = false
[pull]
	rebase = true
[tag]
	gpgsign = true
